body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f9f4;
}

/* HEADER */
header {
    background-color: #2e8b57;
    color: white;
    text-align: center;
    padding: 25px;
}

/* CONTENT */
.content {
    padding: 30px;
    max-width: 800px;
    margin: auto;
}

h2 {
    color: #2e8b57;
}

/* BUTTON */
button {
    background-color: #2e8b57;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #256f46;
}

/* FORM */
.form-container {
    max-width: 600px;
    margin: 40px auto;
    background: white;
    padding: 25px;
    border-radius: 8px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

textarea {
    height: 100px;
}

/* BACK BUTTON */
.back-btn {
    background-color: gray;
}
button[type="button"] {
    background-color: #007bff;
}
button[type="button"]:hover {
    background-color: #0056b3;
}